* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto';
}

*::before {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

*::after {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

footer {
    position: fixed;
    bottom: 25px;
}

.root {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 100px;
}

.empty {
    height: 60%;
    padding-bottom: 0px;
}

.empty-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.empty-container img {
    width: 40%;
    margin-bottom: 3%;
    max-height: 300px;
}

.empty-container p {
    font-size: 1.25vw;
    color: #5A1499;
    text-align: center;
    font-weight: 500;
}

.root .filter {
    align-self: center;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    align-self: flex-end;
    margin-right: 10%;
}

.root .filter span {
    margin-bottom: 5px;
}

.root .session {
    width: 60%;
    cursor: pointer;
    margin-bottom: 30px;
}

.root .session h2 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 22.25px;
    line-height: 18px;
    text-align: center;
    color: #5A1499;
    margin-bottom: 30px;
}

.root .session .paper {
    font-style: normal;
    font-weight: 400;
    font-size: 13.1666px;
    text-align: center;
    color: #A4A8D1;
    border-bottom: 1px solid #A4A8D1;
    display: flex;
    justify-content: flex-start;
    padding-bottom: 10px;
    padding-top: 5px;
}

.root .session .paper span {
    display: inline-block;
}

.root .session .paper span:first-of-type {
    width: 20%;
    text-align: center;
}

.root .session .paper span:last-of-type {
    width: 80%;
    text-align: start;
}

/* .user {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: repeat(3, 1fr);
    max-width: 150px;
    flex-wrap: nowrap;
    margin-top: -7px;
    width: 100%;
    margin-left: 24px;
    margin-right: -18px;
}

.user:hover {
    cursor: pointer;
}

.user:hover img {
    filter: invert(13%) sepia(32%) saturate(7014%) hue-rotate(264deg) brightness(104%) contrast(102%);
}

.user:hover span {
    color: #5A1499;
}

.user img {
    width: 17px;
    filter: invert(79%) sepia(5%) saturate(1891%) hue-rotate(198deg) brightness(88%) contrast(84%);
    grid-column: 1/1;
    grid-row: 1/4;
}

.user img:last-of-type {
    transform: translate(100px, 3px);
    width: 11px;
}

.user span {
    text-decoration: none;
    color: #A4A8D1;
    font-size: 11.5px;
}

.user span:first-of-type {
    grid-column: 2/4;
    grid-row: 1/2;
    font-size: 12px;
}

.user span:last-of-type {
    grid-column: 2/4;
    grid-row: 2/3;
    font-size: 9px;
}

.logout {
    background: #FCFCFC;
    box-shadow: 0px 0px 8px rgba(34, 34, 34, 0.1);
    border-radius: 16px;
    position: absolute;
}

.logout {
    background: #FCFCFC;
    box-shadow: 0px 0px 8px rgba(34, 34, 34, 0.1);
    border-radius: 8px;
    position: absolute;
    width: 12%;
    max-width: 175px;
    height: 4%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    cursor: pointer;
    min-width: 90px;
}

.logout span {
    font-weight: 500;
    font-size: 15px;
    color: #5A1499;
} */

@media screen and (max-width:676px) {
    .empty-container img {
        width: 90%;
    }

    .empty-container p {
        font-size: 2.6vw;
    }

    .root .session {
        width: 95%;
    }
}

@media screen and (max-width:950px) {
    .root .session {
        width: 75%;
    }
}