* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto';
}

*::before {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

*::after {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}


.root {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 3em 2em;
}

.empty {
    height: 60%;
    padding-bottom: 0px;
}

.empty-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.empty-container img {
    width: 40%;
    margin-bottom: 3%;
    max-height: 300px;
}

.empty-container p {
    font-size: 1.25vw;
    color: #5A1499;
    text-align: center;
    font-weight: 500;
}

.root h1 {
    font-weight: 700;
    font-size: 2em;
    text-align: center;
    margin-bottom: 1em;
}

.conference-title {
    color: black;
    font-size: 1.8em;
    font-weight: 400;
    background-color: #F4F4F4;
    /* border: 2px solid #685E78; */
    margin-bottom: 1em;
    text-align: center;
    border-radius: 0.2em;
    padding: 0.2em 0.5em;
}

.card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 2em 2em;
    background-color: white;
    margin: 1em 20em;
    border-radius: 1em;
    width: 80%;
    /* border: 2px solid #5A1499; */
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.25);
}

.root .filter {
    display: flex;
    flex-direction: column;
    align-self: flex-end;
    margin-bottom: 2em;

}

.filter input {
    background-color: #5A1499;
    border-radius: 1em;
    border: 0;
    color: white;
    /* height: 28px; */
    /* width: 120px; */
    padding: 0.5em;
    font-size: 1em;
    transition: 100ms;
}

.filter input:focus, .filter input:hover {
    cursor: pointer;
    background-color: #9747FF;
}

::-webkit-calendar-picker-indicator {
    filter: invert(1);
}

.root .filter span {
    margin-bottom: 5px;
    /* border-left: 1px solid red; */
}

.root .session {
    width: 60%;
    cursor: pointer;
    margin-bottom: 30px;
    border-left: 2px solid #5A1499;
    padding-left: 1em;
    transition: 0.1s;
}

.root .session:hover, .root .session:focus {
    border-left: 2px solid #9747FF;
}

.root .session h2 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: clamp(1rem, 2vw, 2.5rem);
    line-height: 18px;
    text-align: center;
    color: #5A1499;
    margin-bottom: 30px;
    transition: 100ms;
}

.root .session h2:hover, .root .session h2:focus {
    color: #9747FF;
}

.root .session .paper {
    font-style: normal;
    font-weight: 400;
    font-size: 13.1666px;
    text-align: center;
    color: #A4A8D1;
    border-bottom: 1px solid #A4A8D1;
    display: flex;
    justify-content: flex-start;
    padding-bottom: 10px;
    padding-top: 5px;
    transition: 0.1s;
}

.root .session .paper:hover, .root .session .paper:focus {
    transform: scale(1.01);
    margin: 0.5em;
    padding: 0.5em;
    border-radius: 0.5em;
    color: black;
}

.root .session .paper span {
    display: inline-block;
    font-weight: 400;
    font-size: 18.8497px;

}

.root .session .paper span:first-of-type {
    width: 20%;
    text-align: center;
}

.root .session .paper span:last-of-type {
    width: 80%;
    text-align: start;
}


@media screen and (max-width:650px) {
    .empty-container img {
        width: 90%;
    }

    .empty-container p {
        font-size: 2.6vw;
    }

    .root .session {
        width: 95%;
    }

    .card .filter {
        align-self: center;
    }

    .root {
        padding: 1em 0em;
    }

    .card {
        margin: 1em 0em;
        padding: 1em 1em;
    }
}

@media screen and (max-width:950px) {
    .root .session {
        width: 75%;
    }
}