* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto';
}

*::before {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

*::after {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

footer {
    position: fixed;
    bottom: 25px;
}

.root {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 100px;
    padding-top: 3em;
}

.empty {
    height: 60%;
    padding-bottom: 0px;
}

.empty-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.empty-container img {
    width: 40%;
    margin-bottom: 3%;
    max-height: 300px;
}

.empty-container p {
    font-size: 1.25vw;
    color: #5A1499;
    text-align: center;
    font-weight: 500;
}

.root h1 {
    font-weight: 700;
    font-size: 3em;
}

.root .filter {
    align-self: center;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    align-self: flex-end;
    margin-right: 10%;
    margin-top: 50px;
}

.filter input {
    background-color: #9747FF;
    border-radius: 5px;
    border: 1px solid transparent;
    color: white;
    height: 28px;
    width: 120px;
    padding: 1px;

}

::-webkit-calendar-picker-indicator {
    filter: invert(1);
}

.root .filter span {
    margin-bottom: 5px;
}

.root .session {
    width: 60%;
    cursor: pointer;
    margin-bottom: 30px;
}

.root .session h2 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 22.25px;
    line-height: 18px;
    text-align: center;
    color: #5A1499;
    margin-bottom: 30px;
}

.root .session .paper {
    font-style: normal;
    font-weight: 400;
    font-size: 13.1666px;
    text-align: center;
    color: #A4A8D1;
    border-bottom: 1px solid #A4A8D1;
    display: flex;
    justify-content: flex-start;
    padding-bottom: 10px;
    padding-top: 5px;
}

.root .session .paper span {
    display: inline-block;
    font-weight: 400;
    font-size: 18.8497px;
}

.root .session .paper span:first-of-type {
    width: 20%;
    text-align: center;
}

.root .session .paper span:last-of-type {
    width: 80%;
    text-align: start;
}

.more-button {
    font-style: normal;
    font-weight: 400;
    font-size: 21.1668px;
    line-height: 25px;
    color: #FFFFFF;
}

@media screen and (max-width:676px) {
    .empty-container img {
        width: 90%;
    }

    .empty-container p {
        font-size: 2.6vw;
    }

    .root .session {
        width: 95%;
    }
}

@media screen and (max-width:950px) {
    .root .session {
        width: 75%;
    }
}